<div class="sidebar bg-light border-end vh-100">
  <div class="sidebar-header p-3 border-bottom">
    <h5 class="mb-0">Menu</h5>
  </div>
  <nav class="sidebar-menu">
    <ul class="nav flex-column">
      @for (item of menuItems; track item.route) {
        <li class="nav-item">
          <a 
            class="nav-link d-flex align-items-center" 
            [routerLink]="item.route" 
            routerLinkActive="active">
            <i class="bi {{ item.icon }} me-2"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</div>
